.markmap {
  font: 300 16px/20px sans-serif;
}

.markmap-link {
  fill: none;
}

.markmap-node > circle {
  cursor: pointer;
}

.markmap-foreign {
  display: inline-block;
}

.markmap-foreign a {
  color: #0097e6;
}

.markmap-foreign a:hover {
  color: #00a8ff;
}

.markmap-foreign code {
  padding: 0.25em;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  border-radius: 2px;
}

.markmap-foreign pre {
  margin: 0;
}

.markmap-foreign pre > code {
  display: block;
}

.markmap-foreign del {
  text-decoration: line-through;
}

.markmap-foreign em {
  font-style: italic;
}

.markmap-foreign strong {
  font-weight: 700;
}

.markmap-foreign mark {
  background: #ffeaa7;
}

.markmap-container {
  position: absolute;
  width: 0;
  height: 0;
  top: -100px;
  left: -100px;
  overflow: hidden;
}

.markmap-container > .markmap-foreign {
  display: inline-block;
}

.markmap-container > .markmap-foreign > div:last-child,
.markmap-container > .markmap-foreign > div:last-child :not(pre) {
  white-space: nowrap;
}

.markmap-container > .markmap-foreign > div:last-child code {
  white-space: inherit;
}
