# Ignore all .pkl files
*.pkl

# Ignore all .md files
*.md

.env
*.csv
*.xlsx
*.png
*.log
*.log.*
*.pyc
*.json
FakeNewsCitationNetwork/data
FakeNewsCitationNetwork/ArticleCrawler/data.gitkeep
Experiment/data
libraries/